@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.footerPlacement {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: table-row;
  }

.footerPlacement a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}

.friendPicture {
    height: 66px;
    border-radius: 50%;
}

.textareaSize {
    max-width: 450px;
    max-height: 150px;
}

.loginForm {
    max-width: 750px;
}